workflows/Clara — Pipeline A — Demo Call.json
{
  "name": "Clara — Pipeline A — Demo Call",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e85cfccc-2b5d-4c2b-a00c-30f32a576432",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\kanam\\.n8n-files\\transcripts\\demo\\account_001_demo.txt",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        16
      ],
      "id": "a02e7468-551c-47e5-8d4c-aa195894a7a2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a data extraction assistant for Clara Answers.\n\nExtract structured information from this demo call transcript and return ONLY a valid JSON object.\n\nFill these fields:\n- company_name\n- services_supported (list)\n- emergency_definition (list of what counts as emergency)\n- emergency_routing_rules (who to call, any names or numbers mentioned)\n- non_emergency_routing_rules\n- business_hours (days, start time, end time, timezone)\n- office_address\n- integration_constraints (any software like ServiceTrade mentioned)\n- after_hours_flow_summary\n- office_hours_flow_summary\n- questions_or_unknowns (list every field that was NOT mentioned in transcript)\n- notes (1-2 lines summary)\n\nSTRICT RULES:\n- Only extract what is EXPLICITLY stated\n- Never invent or guess missing information\n- If something is not mentioned → put null\n- Add every missing field to questions_or_unknowns\n- Return ONLY the JSON, no extra text\n\nTRANSCRIPT:\n{{ $json.data }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        16
      ],
      "id": "38bd8828-036b-4a86-859e-9a86550347b2",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "U30wZh9zDlZQQ0eN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        16
      ],
      "id": "be2fb205-941c-4c33-88fe-89d8eaa6e954",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Get Gemini's response text\nconst geminiResponse = $input.first().json.content.parts[0].text;\n\n// Clean it up — remove markdown backticks if any\nconst cleaned = geminiResponse\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Parse it into proper JSON\nlet memo = JSON.parse(cleaned);\n\n// Add extra fields\nmemo.account_id = \"account_001\";\nmemo.version = \"v1\";\nmemo.source = \"demo_call\";\nmemo.generated_at = new Date().toISOString();\n\n// Convert to binary so Write File node can save it\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(memo, null, 2)),\n  'account_memo.json',\n  'application/json'\n);\n\nreturn {\n  json: memo,\n  binary: {\n    data: binaryData\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        16
      ],
      "id": "d1a38f31-692a-4af5-99a8-2e0cd66dcebe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\kanam\\.n8n-files\\outputs\\accounts\\account_001\\v1\\account_memo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        16
      ],
      "id": "35ee34b8-0a73-4af6-8504-c8920843b1fa",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are Clara, an AI voice agent configuration specialist.\n\nBased on the following account memo JSON, generate a professional voice agent script for Clara.\n\nIMPORTANT OUTPUT RULES (STRICT):\n- Return ONLY valid JSON\n- Do NOT include markdown (no ```json)\n- Do NOT include explanations\n- Escape all newlines as \\\\n\n- Do NOT use raw line breaks inside strings\n- Use only double quotes\n- Ensure JSON is parseable with JSON.parse()\n\n---\n\nBUSINESS HOURS FLOW:\n1. Greeting\n2. Ask purpose of call\n3. Collect caller name and phone number\n4. Transfer to appropriate person\n5. If transfer fails: apologize and assure callback\n6. Ask if they need anything else\n7. Close call politely\n\nAFTER HOURS FLOW:\n1. Greeting mentioning closed\n2. Ask purpose of call\n3. Ask if this is an emergency\n\nIF EMERGENCY:\n- Collect name, phone number, address immediately\n- Attempt transfer to on-call technician\n- If transfer fails: apologize and assure urgent callback\n\nIF NOT EMERGENCY:\n- Collect name and phone number\n- Confirm callback next business day\n\n6. Ask if they need anything else\n7. Close call politely\n\n---\n\nSTRICT BEHAVIOR RULES:\n- Never mention tools or function calls\n- Never say you are AI unless asked\n- Never invent details not in memo\n- Keep responses short, natural, and human-like\n- Tone: warm, calm, professional\n\n---\n\nRETURN FORMAT (STRICT JSON):\n\n{\n  \"agent_name\": \"Clara\",\n  \"version\": \"v1\",\n  \"account_id\": \"\",\n  \"voice_style\": {\n    \"tone\": \"warm\",\n    \"pace\": \"natural\",\n    \"personality\": \"professional and calm\"\n  },\n  \"key_variables\": {\n    \"company_name\": \"\",\n    \"business_hours\": \"\",\n    \"timezone\": \"\",\n    \"emergency_contact_primary\": \"\",\n    \"emergency_contact_fallback\": \"\",\n    \"office_address\": \"\"\n  },\n  \"system_prompt\": \"FULL SCRIPT HERE WITH \\\\n FOR NEW LINES\",\n  \"call_transfer_protocol\": {\n    \"method\": \"phone_transfer\",\n    \"timeout_seconds\": \"30\",\n    \"announce_to_agent\": \"Incoming call transfer\",\n    \"on_fail\": \"Apologize and assure callback\"\n  },\n  \"fallback_protocol\": {\n    \"message\": \"We will call you back shortly\",\n    \"log_callback\": true,\n    \"escalate_if_emergency\": true\n  }\n}\n\n---\n\nACCOUNT MEMO:\n{{ $('Code in JavaScript').item.json | stringify }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1392,
        16
      ],
      "id": "804b4e76-0df0-4b40-9ea4-27fda17dfd1e",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "U30wZh9zDlZQQ0eN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Get Gemini response\nconst geminiResponse =\n  $input.first().json.content?.parts?.[0]?.text ||\n  $input.first().json.text ||\n  $input.first().json.content ||\n  \"\";\n\n// Step 2: Remove markdown\nlet cleaned = geminiResponse\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\n// Step 3: Extract JSON only\nconst start = cleaned.indexOf('{');\nconst end = cleaned.lastIndexOf('}');\n\nif (start === -1 || end === -1) {\n  throw new Error(\"❌ No valid JSON found:\\n\" + cleaned);\n}\n\ncleaned = cleaned.substring(start, end + 1);\n\n// ❌ DO NOT TOUCH NEWLINES HERE\n\n// Step 4: Parse directly\nlet agentSpec;\ntry {\n  agentSpec = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error(\"❌ JSON Parse Failed:\\n\" + cleaned);\n}\n\n// Step 5: Add metadata\nagentSpec.account_id = \"account_001\";\nagentSpec.version = \"v1\";\nagentSpec.generated_at = new Date().toISOString();\n\n// Step 6: Return JSON\nreturn [{ json: agentSpec }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        16
      ],
      "id": "a2679bfc-0f87-4ce1-a4ec-a0312fe01901",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\kanam\\.n8n-files\\outputs\\accounts\\account_001\\v1\\agent_memo.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2672,
        48
      ],
      "id": "c8e47b36-896e-43ed-a6ba-6040c7f2c149",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-retell-llm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_fa2c6aedb6aa5ab6df9d7ee627ec"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": " model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "= general_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "begin_message",
              "value": "=Thank you for calling {{ $json.key_variables.company_name }}, how can I help you?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        368
      ],
      "id": "0dbd6317-2527-462c-a459-856437243039",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const jsonData = $input.first().json;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(jsonData, null, 2)),\n  'agent_spec.json',\n  'application/json'\n);\n\nreturn [{\n  json: jsonData, // keep JSON for next nodes\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -16
      ],
      "id": "b52545f9-a505-420c-96c8-1efcf4597996",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_fa2c6aedb6aa5ab6df9d7ee627ec"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_name\": \"Clara\",\n  \"response_engine\": {\n    \"type\": \"retell-llm\",\n    \"llm_id\": \"{{ $json.llm_id }}\"\n  },\n  \"voice_id\": \"11labs-Myra\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2256,
        208
      ],
      "id": "c92a049d-c10f-47c2-9e79-8dfe590776d3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $input.first().json;\n\n// get original spec\nconst original = $items(\"Code in JavaScript1\")[0].json;\n\n// merge IDs\nconst finalData = {\n  ...original,\n  llm_id: agentResponse.response_engine?.llm_id || agentResponse.llm_id,\n  agent_id: agentResponse.agent_id\n};\n\n// 🔥 convert to binary (important)\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(finalData, null, 2)),\n  'agent_spec.json',\n  'application/json'\n);\n\nreturn [{\n  json: finalData,\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        208
      ],
      "id": "5b5e9791-3c1e-49b3-8334-9c4ab1f498ef",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8d11bff1-5a43-4997-81fd-5bcce204deb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd364f7974a35e6c4aae013731a4bedc6ba6fea18d7e881c15631e509816e00c"
  },
  "id": "nXVltW1a9cPYCVDqmpX5G",
  "tags": []
}
